/* radios */
.radio input {
  display: none;
}

.radio input + label {
  background-color: #fff;
  border: 2px solid #2980b9;
  border-left: none;
	color: #2980b9;
	cursor: pointer;
	display: inline-block;
  padding: 4px 12px;
	-webkit-transition: .1s all ease-in-out;
		 -moz-transition: .1s all ease-in-out;
			 -o-transition: .1s all ease-in-out;
					transition: .1s all ease-in-out;
}

.radio input + label:first-of-type {
	border-left: 2px solid #2980b9;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.radio input + label:last-of-type {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.radio input:checked + label,
.radio input + label:hover,
.radio input:checked + label i { 
	background: #2980b9;
	color: #fff;
}

.radio i {
	padding-right: 10px;
	vertical-align: middle;
}

.selectr {
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	width: 250px;
}

.selectr > i {
	border: none;
	color: #000;
	float: right;
	font-size: 22px;
	position: absolute;
		right: 0;
		top: 6px;
}

.selectr select {
	-webkit-appearance: none;
		 -moz-appearance: none;
					appearance: none;
	background: transparent url(down-arrow.gif) no-repeat 95% 50%;
	border: none;
	box-shadow: none;
	cursor: pointer;
	float: left;
	font-size: 16px;
	padding: 5px 8px;
	text-indent: 0.01px;
  text-overflow: '';
	width: 100%;
}

.radio.four .selectr {
	background: #2980b9;
}

.radio.four select {
	color: #fff;
	background: transparent url(down-arrow-white.gif) no-repeat 95% 50%;
}