/* ------------------- */
/* styles for          */
/* ryan chapel dot com */
/* ------------------- */

/* ------ save --------- */
/* ------ the ---------- */
/* ------ colors ------- */
/* white: #ecf0f1;       */
/* red: #e74c3c;         */
/* dark red: #cf4436;    */
/* light blue: #3498db;  */
/* medium blue: #2980b9; */
/* dark blue: #2c3e50;   */
/* --------------------- */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #ecf0f1;
    font-family: "Muli", helvetica, arial, sans-serif;
    font-size: 1.6rem;
    color: #444;
    margin: 0;
    padding: 0;
}

/* parent div of h1 */
.is {
    float: left;
    margin-left: 29%;
    z-index: 2;
}

h1 {
    color: #2c3e50;
    font-size: 2.2rem;
    font-weight: normal;
    margin: 4px 0;
    text-align: center;
    text-shadow: 0 0 5px #fff;
    text-transform: lowercase;
    -webkit-transition: 100ms all ease-in-out;
       -moz-transition: 100ms all ease-in-out;
         -o-transition: 100ms all ease-in-out;
            transition: 100ms all ease-in-out;
}

h2 {
    margin: 0 0 10px;
}

h3 {
    margin: 40px 0 10px;
}

h4 {
    margin-bottom: 0;
}

h4:before,
h4:after {
    content: '~';
}

p {
    line-height: 2.5rem;
    margin: .75rem 0;
    max-width: 850px;
    -webkit-transition: 200ms all ease-in-out;
       -moz-transition: 200ms all ease-in-out;
         -o-transition: 200ms all ease-in-out;
            transition: 200ms all ease-in-out;
}

p.lead {
    font-size: 1.8rem;
    font-weight: bold;
}

header {
    background: rgba(255, 255, 255, .95);
    box-shadow: 0 2px 5px #ccc;
    max-width: 140rem;
    padding: 1rem;
    position: fixed;
        top: 0;
    width: 100%;
}

/* code styles for when not using prism.js */
code {
    background: #ecf0f1;
    border-radius: 3px;
    padding: 2px 4px;
}

pre > code {
    background: none; /* fixes issues with prism styles */
}

.logo {
    float: left;
    max-width: 60px; /* IE8 fallaback */
    max-width: 5rem;
    position: fixed;
    -webkit-transition: 100ms all ease-in-out;
       -moz-transition: 100ms all ease-in-out;
         -o-transition: 100ms all ease-in-out;
            transition: 100ms all ease-in-out;
    z-index: 1;
}

    .logo:hover,
    .scrolled .logo:hover {
        -webkit-transform: scale( 1.2, 1.2 ) rotate( -5deg );
           -moz-transform: scale( 1.2, 1.2 ) rotate( -5deg );
            -ms-transform: scale( 1.2, 1.2 ) rotate( -5deg );
             -o-transform: scale( 1.2, 1.2 ) rotate( -5deg );
                transform: scale( 1.2, 1.2 ) rotate( -5deg );
    }

    .scrolled .logo {
        -webkit-transform: scale( .75, .75 ) translate( -10px, 0 );
           -moz-transform: scale( .75, .75 ) translate( -10px, 0 );
            -ms-transform: scale( .75, .75 ) translate( -10px, 0 );
             -o-transform: scale( .75, .75 ) translate( -10px, 0 );
                transform: scale( .75, .75 ) translate( -10px, 0 );
    }

/* menu icon */
.really {
    float: right;
    margin-top: .6rem;
}

a.menu {
    cursor: pointer;
    float: right;
    height: 2.5rem;
    width: 2.5rem;
}

    a.menu span {
        position: relative;
            top: 10px;
        -webkit-transition-duration: 0s;
           -moz-transition-duration: 0s;
             -o-transition-duration: 0s;
                transition-duration: 0s;
        -webkit-transition-delay: 100ms;
           -moz-transition-delay: 100ms;
             -o-transition-delay: 100ms;
                transition-delay: 100ms;
    }

    a.menu span:before,
    a.menu span:after {
        content: '';
        position: absolute;
        -webkit-transition: margin 100ms linear 100ms, -webkit-transform 100ms linear 0s;
           -moz-transition: margin 100ms linear 100ms,    -moz-transform 100ms linear 0s;
             -o-transition: margin 100ms linear 100ms,      -o-transform 100ms linear 0s;
                transition: margin 100ms linear 100ms,         transform 100ms linear 0s;
    }

    a.menu span:before {
        margin-top: -7px;
    }

    a.menu span:after {
        margin-top: 7px;
    }

    a.menu span:before,
    a.menu span,
    a.menu span:after {
        background-color: #2c3e50;
        border-radius: 3px;
        display: block;
        height: .4rem;
        width: 2.5rem;
    }
    
    /* menu open */
    .open a.menu span {
        background-color: transparent;
    }

    .open .menu span:before {
        margin-top: 0;
        -webkit-transform: rotate(45deg);
           -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
             -o-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transition-delay: 0, 100ms;
           -moz-transition-delay: 0, 100ms;
             -o-transition-delay: 0, 100ms;
                transition-delay: 0, 100ms;
    }
    .open .menu span:after {
        margin-top: 0;
        -webkit-transform: rotate(-45deg);
           -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
             -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-transition-delay: 0, 100ms;
           -moz-transition-delay: 0, 100ms;
             -o-transition-delay: 0, 100ms;
                transition-delay: 0, 100ms;
    }

/* nav shown / hidden by the menu icon */
nav {
    clear: both;
    height: 0;
    overflow: hidden;
    text-align: center;
    -webkit-transition: 150ms all ease-in-out;
       -moz-transition: 150ms all ease-in-out;
         -o-transition: 150ms all ease-in-out;
            transition: 150ms all ease-in-out;
}

    .open + nav {
        padding: 21px 0;
    }

nav > ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

nav > ul > a {
    display: inline-block;
    margin: 0 0 5px 2%;
}

    nav > ul > a:first-child {
        margin-left: 0;
    }

nav > ul > a,
.bio a {
    background: #3498db;
    border-radius: 3px;
    color: #fff;
    padding: 0 2px; 
}

nav > ul > a:hover,
.bio a:hover,
nav > ul > a.active,
.bio a.active {
    background: #2980b9;
    color: #fff;
}

/* main content div */
.coolest {
    background: #ecf0f1;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0 auto;
    max-width: 140rem;
    padding: 10px;
}

/* direct child of main content div */
.web {
    margin: 50px auto 0;
    max-width: 1000px;
}

a {
    color: #3498db;
    text-decoration: none;
    -webkit-transition: 200ms all ease-in-out;
       -moz-transition: 200ms all ease-in-out;
         -o-transition: 200ms all ease-in-out;
            transition: 200ms all ease-in-out;
}

    a:hover,
    a:active {
        color: #2980b9;
    }

    a.highlight {
        background: #e74c3c;
    }

    a.highlight:hover {
        background: #cf4436;
    }

/* main content divs for articles */
section {
    border-top: 2px solid #ecf0f1;
    line-height: 2.5rem;
    max-width: 850px;
    padding: 20px 0;
}

    section:first-of-type {
        border-top: none;
        padding-top: 0;
    }

    section ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    section.facts  ul{
        list-style-type: circle;
        padding: 20px;
    }

    section.facts li {
        margin-bottom: 20px;
    }

section article ul {
    list-style: circle;
    padding: 0 20px;
}

section article li {
    padding: 3px 0;
}

.content-list > a {
    border-top: 2px solid #ecf0f1;
    display: block;
    padding: 10px 0;
}
    
    .content-list > a:first-child {
        border-top: none;
    }

    .content-list > a:hover {

    }

.content-list .title {
    font-size: 2rem;
}

.content-list .description {
    color: #333;
}

    .content-list > a:hover .description {
        color: #2980b9;
    }

/* large hero image styles */
.boom {
    border: 5px solid #2980b9;
    border-radius: 3px;
    max-width: 100%;
}

    .boom:hover {
        border: 5px solid #2c3e50;
    }

/* lists with special powers */
.special-list {
    padding: 0 0 0 15px;
}

.special-list li {
    padding-left: 10px;
    position: relative;
    -webkit-transition: 100ms all ease-in-out;
       -moz-transition: 100ms all ease-in-out;
         -o-transition: 100ms all ease-in-out;
            transition: 100ms all ease-in-out;
}

.special-list li i {
    font-size: 2rem;
    padding: 0 10px;
    position: absolute;
        left: -25px;
}

@-webkit-keyframes checkr {
    0% {
        font-size: 3rem;
    }
    100% {
        font-size: 2rem;
    }
}

@-moz-keyframes checkr {
    0% {
        font-size: 3rem;
    }
    100% {
        font-size: 2rem;
    }
}

@keyframes checkr {
    0% {
        font-size: 3rem;
    }
    100% {
        font-size: 2rem;
    }
}

.special-list li i.yes {
    -webkit-animation: checkr .4s ease-in-out;
       -moz-animation: checkr .4s ease-in-out;
         -o-animation: checkr .4s ease-in-out;
            animation: checkr .4s ease-in-out;
    color: #e74c3c;
}

/* forms */
form.contact-form {
    background: #2c3e50;
    border-radius: 3px;
    color: #fff;
    max-width: 60rem;
    padding: 10px;
}

.contact-form > div {
    margin-bottom: 15px;
    overflow: hidden;
}

.names span {
    float: left;
    padding-left: 10px;
    width: 50%;
}

    .names span:first-child {
        padding-left: 0;
    }

.contact-form label {
    display: block;
}

.contact-form input,
.contact-form textarea {
    border: 2px solid #ecf0f1;
    border-radius: 3px;
    font-size: 1.6rem;
    padding: 5px;
    width: 100%;
}

textarea {
    height: 10rem;
}

input[type="submit"] {
    background: #e74c3c;
    border: none;
    color: #fff;
    cursor: pointer;
    max-width: 45rem;
    padding: 15px;
}

    input[type="submit"]:hover {
        background: #cf4436;
    }

.date {
    display: block;
    font-size: 1rem;
    text-align: right;
}

.download {
    float: right;
}

.info {
    background: #2c3e50;
    border-radius: 3px;
    color: #fff;
    padding: 0 5px;
    margin-top: 40px;
}

    .info:first-of-type {
        margin-top: 0;
    }

/* the blurb about me on the bottom (or side) of the page */
aside {
    margin: 0 auto;
    max-width: 1000px;
}

/* direct child div of aside about me */
.bio {
    background: #2c3e50;
    border-radius: 3px;
    color: #fff;
    font-size: 1.4rem;
    overflow: hidden;
    padding: 20px;
}

    .bio img {
        border-radius: 3px;
        float: left;
        margin: 0 10px 0 0;
        max-width: 90px;
    }

    .bio .words {
        margin-top: -6px;
    }

    .bio p {
        display: inline;
        line-height: 2.2rem;
    }

    .bio p.find-me {
        display: block;
        margin-bottom: 0;
    }

a.social-links {
    margin-bottom: 5px;
}

a.linkedin:hover {
    background: #0976b4;
}

a.github:hover {
    background: #333;
}

a.twitter:hover {
    background: #55acee;
}

a.flickr:hover {
    background: #ff0084;
}

a.youtube:hover {
    background: #cd201f;
}

a.googleplus:hover {
    background: #dd4b39;
}

footer {
    clear: both;
    font-size: 1.4rem;
    margin: 10px;
    max-width: 140rem;
    padding: 0;
}

@media (min-width: 320px) {

    h1 {
        text-shadow: none;
    }

    nav > ul > a {
        margin: 0 0 0 3%;
    }

    nav > ul > a,
    .bio a {
        padding: 1px 3px 0 3px; 
    }

    .bio p {
        line-height: 2.4rem;
    }

}

@media (min-width: 400px) {

    .chapel {
        padding: 10px 20px;
    }

    .logo {
        max-width: 8rem;
    }

        .scrolled .logo {
            -webkit-transform: scale( .75, .75 ) translate( -20px, 0px );
               -moz-transform: scale( .75, .75 ) translate( -20px, 0px );
                -ms-transform: scale( .75, .75 ) translate( -20px, 0px );
                 -o-transform: scale( .75, .75 ) translate( -20px, 0px );
                    transform: scale( .75, .75 ) translate( -20px, 0px );
        }

    .is {
        margin-left: 34%;
    }

    h1 {
        font-size: 2.7rem;
        margin: 11px 0;
    }

    .really {
        margin-top: 1.6rem;
    }

    nav {
        text-align: right;
    }

    .open + nav {
        padding: 30px 0;
    }

    .coolest {
        padding: 20px;
    }

    .web {
        margin: 10rem auto 0;
    }

    p,
    section {
        line-height: 2.75rem;
    }

    nav > ul > a,
    .bio a {
        padding: 3px 5px;
    }

    p {
        line-height: 3rem;
        max-width: 850px;
    }
}

@media (min-width: 430px) {

    a.social-links {
        margin-bottom: 0;
    }

}

@media (min-width: 600px) {

    nav > ul > a {
        margin-left: 3%;
    }

}

@media ( min-width: 850px) {
    
    body {
        padding: 20px 5%;
    }

    body:after {
        content: 'large';
        opacity: 0;
    }

    header {
        border-radius: 3px;
        position: static;
        width: auto;
    }

    .logo {
        position: static;
    }

    .chapel {
        margin-top: 0;
    }

    .coolest {
        margin-top: 5px;
        padding: 20px 0;
    }

    .web {
        margin: 0 auto;
    }

    footer {
        margin: 0;
    }
}

@media (min-width: 1000px) {

    .logo {
        margin: 10px 0 0;
    }

    h1 {
        font-size: 2.5rem;
        margin: 25px 0;
    }

    .really {
        display: none;
    }

    nav {
        padding: 0 0 30px;
    }
    
    .web {
        float: left;
        margin-right: 5%;
        width: 70%;
    }

    .developer {
        float: left;
        width: 25%;
    }

    .words {
        margin-top: 0;
    }

    .bio p {
        display: inline-block;
        line-height: 3rem;
    }

    .bio p.me {
        display: inline;
        font-size: 1.9rem;
        margin-top: 0;
    }

    a.social-links {
        display: inline;
    }
}

@media (min-width: 1054px) {
    .bio p.me {
        font-size: 3rem;
    }
}

@media (min-width: 1276px) {
    .bio p.me {
        line-height: 6rem;
    }
}